<mat-nav-list>
  <div class="logo py-4">
    <img src="./assets/logo.svg" alt="Company Logo" />
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-2">APPLICATIONS</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
    <mat-icon>home</mat-icon> Home
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
    <mat-icon>dashboard</mat-icon> Dashboard
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/Category"> <mat-icon>edit</mat-icon> Category </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/Supcategory"> <mat-icon>edit</mat-icon> Sup Category </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/Product"> <mat-icon>edit</mat-icon> Product </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/Branch"> <mat-icon>edit</mat-icon> Branch </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/Employee"> <mat-icon>edit</mat-icon> Employee </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/Article"> <mat-icon>edit</mat-icon> Article </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/NewLetter"> <mat-icon>edit</mat-icon> NewLetter </a>

</mat-nav-list>
