
   <div class="container-fluid">

    <button   (click)="AddNewEmployee(content)" class="btn btn-primary mb-3 " ><i class="fa fa-plus" aria-hidden="true"></i> Add Employee</button>
    <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title"
          id="modal-Add-title">
          Add New Employee
        </h4>
        <button type="button" class="close"
            aria-label="Close" (click)=
            "modal.dismiss('Cross click')">
          <span aria-hidden="true">
            ×
          </span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="Name">
              Employee Name
            </label>
            <div class="input-group">
              <input id="Name" [(ngModel)]="NewEmployee.name" name="EmployeeName" class="form-control" required>
            </div>
            <label for="Image">
                Employee Image
            </label>
               <div class="input-group">
                 <input id="Image" type="file" name="EmployeeImage" [(ngModel)]="NewEmployee.image" (change)="onFileChange($event)"
                 class="form-control" required >

               </div>
               <label for="Postion">
                Postion
               </label>
               <div class="input-group">
                 <input  id="Postion" [(ngModel)]="NewEmployee.position" name="EmployeePosition" class="form-control" required>
               </div>

          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button"
          class="btn btn-outline-dark"
          (click)="modal.close('Save click')">
          Save
        </button>
      </div>
    </ng-template>

<div class="row">
   <table class=" table table-hover">
  <thead class="bg-primary text-white" >
    <tr>
      <th scope="col"><i class="fa fa-sort-numeric-asc" aria-hidden="true"></i></th>
      <th scope="col"><i class="fa fa-database" aria-hidden="true"></i> Name</th>
      <th scope="col"><i class="fa fa-picture-o" aria-hidden="true"></i> Image</th>
      <th scope="col"><i class="fa fa-address" aria-hidden="true"></i> Position</th>
      <th scope="col"><i class="fa fa-refresh" aria-hidden="true"></i> Operations</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let emp of EmployeeList; let i=index">
      <td>{{i+1}}</td>
      <td>{{emp.name}}</td>
      <td><img [src]="emp.url" alt="ImgPro" width="100px" height="100"></td>
      <td>{{emp.position}}</td>
      <td>
        <button   (click)="open(content , emp)" style="background-color: rgb(135, 216, 14); color: white; height: 30px;  width: 40px; border:none; border-radius: 3px; "><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
        <button  (click)="openToDelete(contentDelete, emp)" style="background-color:red; color: white;height: 30px;  width: 40px; border:none; border-radius: 3px;"><i class="fa fa-trash" aria-hidden="true"></i></button>

          <!-- To Edit Item  -->
        <ng-template #content let-modal>
          <div class="modal-header">
            <h4 class="modal-title"
              id="modal-basic-title">
              Edit Employee
            </h4>
            <button type="button" class="close"
                aria-label="Close" (click)=
                "modal.dismiss('Cross click')">
              <span aria-hidden="true">
                ×
              </span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="Name">
                Employee Name
                </label>
                <div class="input-group">
                  <input id="Name" [(ngModel)]="oldEmployee.name" name="EmployeeName" class="form-control"   value={{emp.name}} >
                </div>
                <label for="Image">
                    Image
                </label>
                   <div class="input-group">
                     <input id="Image" type="file" [(ngModel)]="oldEmployee.image" name="EmployeeImage" class="form-control" value={{emp.image}}>
                   </div>
                   <label for="Position">
                    Position
                   </label>
                   <div class="input-group">
                     <input id="Position" [(ngModel)]="oldEmployee.position" name="EmployeePosition" class="form-control" value={{emp.position}} >
                   </div>

              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button"
              class="btn btn-outline-dark"
              (click)="modal.close('Save click')">
              Save
            </button>
          </div>
        </ng-template>

        <!-- To delete Item  -->
        <ng-template #contentDelete let-modal>
          <div class="modal-header">
            <h4 class="modal-title"
              id="modal-Delete-title">
              Delete Employee
            </h4>
            <!-- <button type="button" class="close"
                aria-label="Close" (click)=
                "modal.dismiss('Cross click')">

              <span aria-hidden="true">
                ×
              </span>
            </button> -->
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                  Do you want to delete the {{emp.name}} ?
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="close btn btn-outline-dark"
                aria-label="Close" (click)=
                "modal.dismiss('Cross click')">
              Yes
            </button>

            <button type="button"
              class="btn btn-outline-dark"
              (click)="modal.close('Save click')">
              No
            </button>
          </div>
        </ng-template>


      </td>
    </tr>
  </tbody>
   </table>
</div>
</div>
<script>
const myModal = document.getElementById('myModal')
const myInput = document.getElementById('myInput')
myModal.addEventListener('shown.bs.modal', () => {
myInput.focus()
})
</script>
