

    <aside class="sidebar">
      <nav class="sidebar-nav">

        <ul>
          <li>
            <a href="#"><i class="fa fa-tachometer" aria-hidden="true"></i> <span>Manage Units</span></a>
            <ul>
              <li>
                <a routerLink='/Category'><i class="ion-ios-color-filter-outline"></i>Category</a>
              </li>
              <li>
                <a routerLink='/SupCategory'><i class="ion-ios-clock-outline"></i>Sup Category</a>
              </li>
              <li>
                <a routerLink='/Product'><i class="ion-android-star-outline"></i>Products</a>
              </li>
            </ul>
          </li>
          <li>
            <a routerLink='/Branch'><i class="fa fa-map-marker" aria-hidden="true"></i><span class="">Branch</span></a>
          </li>
          <li>
            <a routerLink='/Employee'><i class="fa fa-users" aria-hidden="true"></i> <span class="">Employee</span></a>
          </li>
          <li>
            <a routerLink='/NewLetter'><i class="fa fa-envelope" aria-hidden="true"></i> <span class="">NewLetters</span></a>
          </li>
          <li>
            <a routerLink='/Article'><i class="fa fa-file-text" aria-hidden="true"></i> <span class="">Article</span></a>
          </li>
        </ul>
      </nav>
    </aside>
